span{
  height:40px;
  font-size: 32px;
  align-content: left;
}

#title{
    color:white;
    background-color:green;
}

#titleImg{
    height: 55px;
    width: 80px;
}

#otherBody{
    background: black;
}

#mainBody{
    width: 80%;
    margin: 0 auto;
    border: 15px solid green;
    background-color: white;
}
.space{
    height: 30px;
}

#team{
    width:400px;
    height:300px;
    align-content: center;
}

#bottom{
    width:80%;
}

body{
    margin: center;
    border: 10px;
}

nav{
    height: 30px;
    display: flex;
    width:auto;
    background-color: #228B22;
}
nav > a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: gold;
    font-weight: 700;
    font-size: 1.5em;
}

nav > a:hover{
    background-color: black;
}
